input {
    margin: 10px;
    padding: 5 px 10 px;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    border: solid;

}
.form {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 10px;
    text-align: left;
    padding: 50px;
    margin: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
}
nav {
    font-size: 10px;
    display: flex;
    box-shadow: 0 3px 0 0 rgb(226 228 231 / 75%);
    text-align: center;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 14px;
    line-height: 1.42857143;
    border-radius: 4px;

}
#a .saveButton {
    color: #fff;
    background-color: #00B194;
    border-color: #00B194;
}

#a .cancelButton {
    color: #00B194;
    background-color: #fff;
    border-color: #fff
}

.select {
    margin: 10px;
    padding: 5 px 14 px;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    border: solid;
}
